# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Checkpoints & logs
*.pth
*.pth.tar
*.pt
output/
tensorboard/
wandb/

# Dataset zips
*.zip
*.tar
*.tar.gz

# OS files
.DS_Store
Thumbs.db